* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background: #111;
  color: #fff;
}

.close-menu {
  display: none;
}

.navigation-navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  background: #111;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.navigation-navbar .btn {
  margin-top: 0;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.btn {
  background: orange;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  margin-top: 20px;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.hero-text {
  text-align: left;
  width: 100%;
}

.hero-text h2 {
  color: orange;
  margin-bottom: 20px;
}

/* SLIDER */

.slider-wrapper {
  position: relative;
  width: 100%;
}

.slides {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.slide {
  opacity: 0;
  height: 0;
  position: absolute;
  width: 100%;
  transition: 0.4s;
}

.slide.active {
  opacity: 1;
  height: 100%;
  position: relative;
}

.slides img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

section {
  padding: 50px;
  text-align: center;
}

.skills {
  max-width: 500px;
  margin: 40px auto;
}

.skill {
  margin-bottom: 20px;
  text-align: left;
}

.bar div {
  height: 100%;
  background: orange;
  border-radius: 10px;
}

.cards,
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.card,
.project {
  background: #f8f8f8;
  padding: 30px;
  border-radius: 10px;
}
.card h1,
.project,
.card p,
.testimonial {
  margin-bottom: 15px;
  color: #000;
}

.testimonial {
  background: #f8f8f8;
  padding: 40px;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
}

.card.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}

.card.testimonial {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  text-align: left;
}

.testimonials p {
  padding: 20px 0 40px 0;
}

form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 12px;
  border-radius: 5px;
  border: none;
}

.about {
  display: flex;
  gap: 60px;
  align-items: center;
}

.profile img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 50%;
  background: white;
}

.content {
  max-width: 600px;
}

.content h1,
.services h2,
.section-title,
.testimonials h2,
.contact h2 {
  font-size: 42px;
  margin-bottom: 20px;
}

.content p {
  color: #bbb;
  margin-bottom: 30px;
  line-height: 1.6;
}

.skill span {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.fill::after {
  content: "";
  position: absolute;
  right: 0;
  top: -4px;
  width: 14px;
  height: 14px;
  background: orange;
  border-radius: 50%;
}

.bar {
  width: 100%;
  height: 8px;
  background: #333;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
}

.fill {
  height: 100%;
  width: 0; /* დაწყების პროცენტი 0 */
  background: orange;
  border-radius: 10px;
  position: relative;
  transition: width 2s ease-in-out;
}

/* საბოლოო პროცენტი */
.fill.ux {
  width: 80%;
}
.fill.web {
  width: 90%;
}
.fill.app {
  width: 85%;
}
.fill.graphic {
  width: 75%;
}

.socials {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.socials a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
}

.socials a:hover {
  background: orange;
  color: #fff;
}

.projects {
  color: #fff;
  text-align: center;
}

.section-title {
  font-size: 42px;
  margin-bottom: 10px;
}

.section-subtitle {
  color: #aaa;
  margin-bottom: 40px;
}

.project-filters {
  margin-bottom: 40px;
}

.filter-btn {
  padding: 10px 22px;
  margin: 5px;
  border: 1px solid #333;
  background: transparent;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.filter-btn:hover {
  background: #222;
}

.filter-btn.active {
  background: orange;
  border-color: orange;
  color: #000;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}

.project {
  border-radius: 18px;
  transition: 0.4s ease;
  opacity: 1;
  transform: scale(1);
  background: none;
}
.project h3 {
  color: white;
}

.project img {
  width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.project h3 {
  margin-bottom: 10px;
}

.project span {
  color: orange;
  font-size: 14px;
}

/* Hover effect */
.project:hover {
  transform: translateY(-10px) scale(1.03);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.testimonial-dots {
  margin-top: 30px;
  text-align: center;
}

.dot {
  display: inline-block;
  width: 14px;
  height: 6px;
  background: #ccc;
  border-radius: 10px;
  margin: 0 6px;
  cursor: pointer;
}

.dot.active {
  width: 28px;
  background: orange;
}
.dot:hover {
  background: orange;
}

footer {
  text-align: center;
  background: #000;
}
footer p {
  color: #bbb;
}

/* CONTACT SECTION */
.contact {
  background: #111;
  color: #fff;
  padding: 80px 10%;
  text-align: left;
}

.contact h2 {
  font-size: 42px;
  margin-bottom: 40px;
}

.contact p {
  color: #bbb;
  margin-bottom: 40px;
  line-height: 1.6;
}

/* FORM */
#contact-form {
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

/* INPUTS */
#contact-form input,
#contact-form textarea {
  padding: 18px 20px;
  border-radius: 14px;
  border: none;
  outline: none;
  font-size: 14px;
}

#contact-form input::placeholder,
#contact-form textarea::placeholder {
  color: #888;
}

/* TEXTAREA FULL WIDTH */
#contact-form textarea {
  grid-column: 1 / -1;
  resize: none;
}

/* BUTTON */
#contact-form .btn {
  grid-column: 1 / -1;
  margin: 30px auto 0;
  background: orange;
  color: #000;
  padding: 14px 50px;
  border-radius: 14px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}

/* ================= MODAL ================= */

.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #fff;
  color: #000;
  padding: 35px 40px;
  border-radius: 18px;
  max-width: 420px;
  text-align: center;
}

.modal-content p {
  margin-bottom: 25px;
}

.modal-content button {
  background: orange;
  border: none;
  padding: 10px 30px;
  border-radius: 12px;
  cursor: pointer;
}

.footer {
  background: #111;
  text-align: center;
}

/* FOOTER NAV */
.footer-nav {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 30px;
  padding: 0;
  margin-bottom: 30px;
}

.footer-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

.footer-nav a:hover {
  color: orange;
}

.copyright {
  background-color: black;
  padding: 20px;
  text-align: center;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.burger span {
  width: 25px;
  height: 3px;
  background: #fff;
}

/* MOBILE */
@media (max-width: 768px) {
  .burger {
    display: flex;
  }

  .navbar ul {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .navbar .btn {
    margin: 20px;
  }
  #contact-form {
    grid-template-columns: 1fr;
  }

  .footer-nav {
    flex-wrap: wrap;
    gap: 15px;
  }

  body {
    overflow-x: hidden;
  }

  section {
    padding: 50px 20px;
  }

  h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  p {
    font-size: 14px;
    line-height: 1.6;
  }

  /* ================= HERO ================= */

  .hero {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  .hero-text h4 {
    font-size: 14px;
  }

  .hero-text h2 {
    font-size: 22px;
  }

  .hero-text h1 {
    font-size: 36px;
    line-height: 1.2;
  }

  .hero-text span {
    color: orange;
  }

  .socials {
    margin-top: 20px;
    display: flex;
    gap: 14px;
  }

  .socials a {
    width: 36px;
    height: 36px;
    background: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }

  .hero-img {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }

  .slider-section {
    width: 240px;
    height: 240px;
    border-radius: 50%;
  }

  .slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  /* ================= ABOUT ================= */

  .about {
    flex-direction: column;
    gap: 30px;
    text-align: left;
  }

  .skills .skill {
    margin-bottom: 15px;
  }

  /* ================= SERVICES ================= */

  .services .cards {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .services .card {
    padding: 25px;
  }

  .services,
  .projects {
    text-align: left;
  }

  /* ================= PROJECTS ================= */

  .filters {
    flex-wrap: wrap;
    gap: 10px;
  }

  .project-grid {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  /* ================= TESTIMONIALS ================= */

  .testimonial {
    flex-direction: column;
    text-align: left;
    gap: 20px;
  }

  .testimonials {
    text-align: left;
  }

  .testimonial img {
    width: 80px;
    height: 80px;
  }

  /* ================= CONTACT ================= */

  #contact-form {
    grid-template-columns: 1fr;
  }

  #contact-form input,
  #contact-form textarea {
    width: 100%;
  }

  #contact-form .btn {
    width: 100%;
  }

  /* ================= FOOTER ================= */

  .footer-nav {
    flex-wrap: wrap;
    gap: 12px;
  }

  .footer-social {
    margin-top: 20px;
  }

  /* ================= MOBILE TESTIMONIAL FIX ================= */
  .testimonials {
    text-align: left;
  }

  /* ტექსტის ბლოკი */
  .testimonal-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  #t-text::before {
    content: "“";
    left: 0;
    top: -8px;
  }

  #t-text::after {
    content: "”";
    right: 6px;
    bottom: -18px;
  }

  /* ================= MOBILE TESTIMONIAL FIX ================= */
  .card.testimonial {
    background: #fff;
    padding: 24px;
    border-radius: 18px;
    max-width: 360px;
    margin: 0 auto;
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: flex-start;
    gap: 14px;
  }

  /* ფოტო */
  #t-img {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
  }

  /* სახელი */
  #t-name {
    order: 0;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #000;
  }

  /* პოზიცია */
  #t-role {
    order: 1;
    font-size: 13px;
    color: #777;
    margin-bottom: 8px;
  }

  /* ტექსტი გადავიდეს ქვემოთ */
  #t-text {
    order: 2;
    font-size: 14px;
    line-height: 1.6;
    color: #444;
    position: relative;
    padding-left: 18px;
    margin-top: 10px;
  }

  #t-text::before,
  #t-text::after {
    font-size: 30px;
    color: orange;
    position: absolute;
  }

  #t-text::before {
    content: "“";
    left: 0;
    top: -8px;
  }

  #t-text::after {
    content: "”";
    right: 6px;
    bottom: -18px;
  }

  .navbar {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.75); /* გამჭვირვალე ფონი */
    backdrop-filter: blur(8px); /* glass effect */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    opacity: 0;
    pointer-events: none;
    transform: translateY(-20px);

    transition: 0.4s ease;
    z-index: 999;
  }

  .navbar.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .navbar ul {
    flex-direction: column;
    gap: 25px;
  }

  .navbar a {
    font-size: 22px;
  }

  .logo {
    padding-right: 10%;
  }
  /* დახურვის ღილაკი */
  .close-menu {
    display: block;
    position: absolute;
    top: 25px;
    right: 30px;
    font-size: 40px;
    cursor: pointer;
    color: #fff;
    transition: 0.3s;
  }

  .close-menu:hover {
    color: orange;
  }

  .profile img {
    display: none;
  }

  .project {
    padding: 0;
  }
}
