* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background: #111;
  color: #fff;
}

.navigation-navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px;
  background: #111;
  align-items: center;
}

.navbar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.navbar a {
  margin: 0 10px;
  color: #fff;
  text-decoration: none;
}

.navigation-navbar .btn {
  margin-top: 0;
}

.logo {
  font-weight: bold;
  font-size: 18px;
}

.btn {
  background: orange;
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  border-radius: 5px;
  color: #000;
  font-weight: bold;
  margin-top: 20px;
}

.hero {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 80px 50px;
}

.hero-text {
  text-align: left;
  width: 50%;
}

/* SLIDER */
/* .slider-section {
  margin-top: 180px;
} */

.slider-wrapper {
  position: relative;
  width: 100%;
}

.slides {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.slide {
  opacity: 0;
  height: 0;
  position: absolute;
  width: 100%;
  transition: 0.4s;
}

.slide.active {
  opacity: 1;
  height: 100%;
  position: relative;
}

/* .slide-text {
  position: absolute;
  bottom: 50px;
  left: 50px;
  background: rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 10px;
} */

.slides img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
}

section {
  padding: 50px;
  text-align: center;
}

.skills {
  max-width: 500px;
  margin: 40px auto;
}

.skill {
  margin-bottom: 20px;
  text-align: left;
}

.bar {
  background: #333;
  height: 8px;
  border-radius: 10px;
}

.bar div {
  height: 100%;
  background: orange;
  border-radius: 10px;
}

.cards,
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 40px;
}

.card,
.project {
  background: #f8f8f8;
  padding: 30px;
  border-radius: 10px;
}
.card h1,
.project,
.card p,
.testimonial {
  margin-bottom: 15px;
  color: #000;
}

.testimonial {
  background: #f8f8f8;
  padding: 40px;
  max-width: 600px;
  margin: auto;
  border-radius: 10px;
}

.card.testimonial img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  object-fit: cover;
}

.card.testimonial {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  text-align: left;
}

.testimonials p {
  padding: 20px 0 40px 0;
}

form {
  max-width: 600px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  padding: 12px;
  border-radius: 5px;
  border: none;
}

footer {
  text-align: center;
  padding: 20px;
  background: #000;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #111;
  color: #fff;
}

.about {
  display: flex;
  gap: 60px;
  padding: 80px;
  align-items: center;
}

.profile img {
  width: 50%;
  height: 50%;
  object-fit: cover;
  border-radius: 50%;
  background: white;
}

.content {
  max-width: 600px;
}

.content h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.content p {
  color: #bbb;
  margin-bottom: 30px;
  line-height: 1.6;
}

.skill {
  margin-bottom: 20px;
}

.skill span {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

.bar {
  width: 100%;
  height: 6px;
  background: #333;
  border-radius: 10px;
  position: relative;
}

.fill {
  height: 100%;
  background: orange;
  border-radius: 10px;
  position: relative;
}

.fill::after {
  content: "";
  position: absolute;
  right: 0;
  top: -4px;
  width: 14px;
  height: 14px;
  background: orange;
  border-radius: 50%;
}

/* პროგრესები */
.ux {
  width: 80%;
}
.web {
  width: 90%;
}
.app {
  width: 85%;
}
.graphic {
  width: 75%;
}

.socials {
  display: flex;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.socials a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.3s;
}

.socials a:hover {
  background: orange;
  color: #fff;
}
